spring:
    datasource:
        sql-script-encoding: UTF-8
        platform: h2
        url: jdbc:h2:mem:testdemo
        username: sa
        password:
    jpa:
        show-sql: false
        hibernate:
            ddl-auto: create
    http:
        encoding:
            charset: UTF-8
            enabled: true
            force: true
server:
    session:
        persistent: true
        
privatesettings:
    testserver: true
    build:
        version: "LOCAL_VERSION"
        date: "0000-01-01T00:00:00+00:00"
    expirationtime:
          plusexpirationseconds: 40
          initialDelay:  50
          period: 5



---
spring:
    profiles: dev
    datasource:
        platform: mssql
        ip: 127.0.0.1
        url: jdbc:sqlserver://${spring.datasource.ip}
        username: logadmin
        password: v3r1Str0ng
    jpa:
        hibernate:
            ddl-auto: update
privaterestaurant:
    build:
        version: "@project.version@"
        date: "@build.date@"


---
spring:
    profiles: localdebug
    thymeleaf:
        cache: false
    session:
        persistent: true
    resources:
        cache-period: 0
 